/* main div.smallpicture {
    width: 800px;
    height: 875px;
    border: 1px solid black;
} */

main div.smallpicture2{
    width: 100%;
    height: 1050px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#register{
    margin-top :80px;
    width: 800px;
    height: 950px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 0; /* 상하 패딩 추가 */
}

.logo2 {
    width: 798px;
    /* 2배로 키웠습니다. */
    height: 128px;
    /* 2배로 키웠습니다. */
    position: relative;
    /* 필요한만큼 왼쪽으로 이동 */
    margin: 0px;
}


.logo2 img {
    background-color: transparent;
    position : absolute;
    width: 300px;
    /* 예시 값 */
    height: 80px;
    object-fit: cover;
    float: left;
}

.logo2 h1 {
    color : #000;
    font-family: 'nanumgothic';
    font-size: 40px;
    text-align: center;
    line-height: 168px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}
.input-field {
    margin-top: 1.4em;
    margin-bottom: 2.2rem; /* 마진 값을 조정 */
    position: relative;
}
.input-field label {
    font-weight: bold;
    margin-bottom: 1rem; /* 마진 값을 조정 */
    display: block;
}
.input-field input {
    width: 100%;
    padding: 1rem; /* 패딩 값을 조정 */
    font-size: 1rem;
}
.input-field .feedback-invalid {
    color: red;
    font-size: 0.875rem;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2px;
}
.btn_submit {
    display: block;
    width: 100%;
    padding: 1.5rem; /* 패딩 값을 조정 */
    background-color: #17a2b8;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 2rem; /* 마진 값을 조정 */
}
.btn:hover {
    background-color: #138496;
}
.agree-text {
    font-size: 0.875rem;
    margin-top: 1.5rem; /* 마진 값을 조정 */
    text-align: center;
    line-height: 1.5; /* 이 값을 조정하여 라인 높이를 변경할 수 있습니다. */
    vertical-align: middle;
}

.agree-text a {
    color: blue;
    vertical-align: middle; /* 이 속성을 추가하여 텍스트를 수직 중앙에 배치합니다. */
}
